[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apache-airflow = "==1.10.11"
boto3 = "==1.14.40"
docker = "==4.3.0"
psycopg2 = "==2.8.5"
pyspark = "==3.2.2"
gunicorn = "==19.5.0"

[requires]
python_version = "3.8"
